.header-subtitle {
    font-weight: 200;
    font-size: calc(20px + (45 - 20) * ((100vw - 300px) / (1600 - 300)));
  }
 .header-title {
    font-size: calc(40px + (120 - 40) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
    line-height: .7;
    margin-bottom: 25px;
    color: inherit;
  }
  
 .header-mono {
    letter-spacing: 5px;
    font-weight: 500;
    font-size: calc(12px + (19 - 12) * ((100vw - 300px) / (1600 - 300)));
    margin-bottom: 40px;
  }
  .containerheder{
        margin-left: 20%;
        margin-right: 20%;
  }
  header{
    background-color: blanchedalmond;
  }
  footer{
    background-color: #e09f92;
  }
  .containerfooter{
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%; 
    color: antiquewhite;
    text-align: center;
    

  }
  .icono{
    color: black;
    margin: 2%;
    font-size: 30px;
  }
  .containernav .nav {
    font-size: large;
    
    
  }
  .unotab {
    padding: 50px;
    width: 30%; 
    
  }
  .dostab {
    padding: 60px;
    width: 70%;  
  }
  .tamfoto{
    width: 650px;
    height: 700px;
    
  }
  
  .titulos{
    text-align: center;
  }

  .collage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    gap: 20px;
    width: 80%;
    max-width: 1500px;
    margin: auto;
}

.collage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.large {
    grid-column: span 2;
    grid-row: span 2;
}
.medium {
  grid-column: span 1;
  grid-row: span 2;
}
.cort {
  grid-column: span 1;
  grid-row: span 1;
}
.cortmed {
  grid-column: span 2;
  grid-row: span 3;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  text-align: justify;
}

.box {
  
  border-radius: 15px;
  padding: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
  box-shadow: 0 4px 6px #e09f92;
  font-size: 18px;
  text-align: justify;
}

/* Variación en tamaños */
.box.large {
  grid-column: span 2;
}
.box.vertical {
  height: 200px;
}
.video{
  padding: 60px;
  text-align: center;
}

.download-button {
  background-color: blanchedalmond;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
 
}

.download-button:hover {
  background-color: #e09f92;
  color: white;

}
.button {
  background-color: #e09f92;
  color: white;
  padding: 15px 32px 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
 
}

.button:hover {
  background-color: blanchedalmond;
  color: rgb(0, 0, 0);

}
.op{
  opacity: 0.8;
  
}
.colorti{
  color: #dd8a7a;

}
.colorfo{
  filter: hue-rotate(120deg) saturate(100%) brightness(1);

}